h1
{ text-align:center;
   font-family:"Abyssinica SIL";
    color: darkred; }
img
{ float: right;   }
p
{ padding-right:50px;  }
u
{ color: darkred  }
body
{ background:  lightpink;}
body
{ color:blue; }
